<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página de Download</title>
  <link rel="icon" type="image/x-icon" href="../img/logo.png">
  <link rel="stylesheet" href="../css/dow.css">
</head>
<body>
  <div class="container">
    <img src="../img/logo.png" alt="Imagem de Exemplo" class="imagem-titulo">

    <h1>Pré-visualização do Documento analisado</h1>

    <div id="filePreview" class="file-preview"></div>

    <div class="button-container">
      <button id="downloadButton" class="download-button" style="display: none;" onclick="downloadFile()">Download</button>
    </div>
  </div>
  <script src="../js/dow.js"></script>
</body>
</html>
