    <!DOCTYPE html>
    <html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PontoZero</title>
        <link rel="stylesheet" href="../css/styles.css">
        <link rel="icon" type="image/x-icon" href="../img/logo.png">
        <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="left-panel">
                <h1 class="nome">Denise AI</h1>
               <div class="image-container">
                    <img src="../img/logo.png" alt="Imagem de Denise AI" class="profile-image">
                </div>
                <p class="description">
                    Denise AI é sua assistente virtual, pronta para ajudar organizar e registrar documentos
                    de imóveis de forma rápida e precisa.
                </p>
            </div>
            <div class="right-panel">
                <div class="login-box">
                    <h2>Logar na sua conta</h2>
                    <p>Continue com seus dados</p>
                    <form method="post" action="/login">
                        <input class="input" type="text" name="username" placeholder="Enter your username" required>
                        <input class="input" type="password" name="senha" placeholder="Enter your password" required>
                        <button type="submit" class="btn-primary"><a href="../Templates/menu.html">Log In</a></button>
                    </form>
                </div>
            </div>
        </div>
    </body>
    </html>
